.root {
	--lineLength: 66ch;
	max-width: var(--lineLength);
	margin: 0 auto;
}

.root [data-language] {
	margin: 0 calc(-50vw + 33ch) 1.722222rem;
}

.root [data-language] pre {
	padding: 2em 5em;
	display: flex;
}

.root [data-language] pre code {
	margin: 0 auto;
	min-width: var(--lineLength); /* different font; won't precisely line up with surrounding text */
	tab-size: 2;
	font-size: 14px;
}
