:root {
	font-size: 18px;
	line-height: 1.722222em;
}

body {
	margin: 0;
	font-family: "Sentinel SSm A", "Sentinel SSm B";
	font-style: normal;
	font-weight: 400;
}

a, a:visited, a:link {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid currentColor;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B";
	font-style: normal;
	font-weight: 700;
	font-size: 1.2rem;
	margin-top: 6rem;
}

pre[class*=language], code[class*=language] {
	tab-size: 2;
	font-size: 14px;
}

