/* Coolors Exported Palette - coolors.co/2a2d34-009ddc-f26430-6761a8-009b72 */

:root {
  /* RGB */
  --color1: rgba(42, 45, 52, 1);
  --color2: rgba(0, 157, 220, 1);
  --color3: rgba(242, 100, 48, 1);
  --color4: rgba(103, 97, 168, 1);
  --color5: rgba(0, 155, 114, 1);
}
